/*Color Scheme*/
/*Green=#BBC52F*/
/*Brown=#9E4A08*/
/*Black*/
/*White*/
/*White and Black*/


/*Responsive typography*/
html { font-size:100%; } 
@media (min-width: 640px) { body {font-size:1rem;} } 
@media (min-width:960px) { body {font-size:1.2rem;} } 
@media (min-width:1100px) { body {font-size:1.5rem;} }

/*Responsive Images*/
/*IE support restrict max image size to parent container*/
img { max-width: 100%; }
body {
	margin: 0 auto;
}

@font-face {
  font-family: 'Meaty';
  src:  url('Meatloaf.ttf')
}


#navi {
  position:fixed;
  top:0px;
  width: 100%;
  /*z-index:9999;
  display: none;*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #473644;
}

li {
    float: left;
    border-right:2px solid #bbb;
}

li:last-child {
    border-right: none;
    float: right;
}


li a {
    display: inline-flex;
    color: #FFF1FD;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
    font-size: 30px;
}

li a:hover{
  color: gold;
}

h1 span {
  font: 66px Meaty;
  height: 420px;
  position: absolute;
  width: 78px;
  left: 24%;
  top: 640%;
  transform-origin: bottom center;
  color: #BBC52F;
  font-size: 144px;
}

.badge {
  position: relative;
  width: 500px;
  border-radius: 100%;
  transform: rotate(-50deg);
  background-color: transparent;
}

.char1 {
  transform: rotate(0deg);
  animation-name: erect;
    animation-duration: 0.4s;
     -webkit-animation-duration: 0.4s;
      -moz-animation-duration: 0.4s;
       -o-animation-duration: 0.4s;
    animation-timing-function: ease;
    text-shadow: 1px 1px #198A0E;
}

.char2 {
  transform: rotate(10deg);
  animation-name: erect;
  animation-delay: 0.4s;
     animation-duration: 0.4s;
     -webkit-animation-duration: 0.4s;
      -moz-animation-duration: 0.4s;
       -o-animation-duration: 0.4s;
    animation-timing-function: ease;
    text-shadow: 1px 1px #198A0E;
}

.char3 {
  transform: rotate(20deg);
  animation-name: erect;
  animation-delay: 0.8s;
     animation-duration: 0.4s;
     -webkit-animation-duration: 0.4s;
      -moz-animation-duration: 0.4s;
       -o-animation-duration: 0.4s;
    animation-timing-function: ease;
    text-shadow: 1px 1px #198A0E;
}

.char4 {
  transform: rotate(30deg);
  animation-name: erect;
  animation-delay: 1.2s;
    animation-duration: 0.4s;
     -webkit-animation-duration: 0.4s;
      -moz-animation-duration: 0.4s;
       -o-animation-duration: 0.4s;
    animation-timing-function: ease;
    text-shadow: 1px 1px #198A0E;
}

.char5 {
  transform: rotate(50deg);
  animation-name: erect;
  animation-delay: 1.6s;
    animation-duration: 0.4s;
     -webkit-animation-duration: 0.4s;
      -moz-animation-duration: 0.4s;
       -o-animation-duration: 0.4s;
    animation-timing-function: ease;
    text-shadow: 1px 1px #198A0E;
}

.char6 {
  transform: rotate(60deg);
  animation-name: erect;
  animation-delay: 2s;
     animation-duration: 0.4s;
     -webkit-animation-duration: 0.4s;
      -moz-animation-duration: 0.4s;
       -o-animation-duration: 0.4s;
    animation-timing-function: ease;
    text-shadow: 1px 1px #198A0E;
}

.char7 {
  transform: rotate(70deg);
  animation-name: erect;
  animation-delay: 2.4s;
     animation-duration: 0.4s;
     -webkit-animation-duration: 0.4s;
      -moz-animation-duration: 0.4s;
       -o-animation-duration: 0.4s;
    animation-timing-function: ease;
    text-shadow: 1px 1px #198A0E;
}

.char8 {
  transform: rotate(80deg);
  animation-name: erect;
  animation-delay: 2.8s;
     animation-duration: 0.4s;
     -webkit-animation-duration: 0.4s;
      -moz-animation-duration: 0.4s;
       -o-animation-duration: 0.4s;
    animation-timing-function: ease;
    text-shadow: 1px 1px #198A0E;
}

.char9 {
  transform: rotate(90deg);
  animation-name: erect;
  animation-delay: 3.2s;
     animation-duration: 0.4s;
     -webkit-animation-duration: 0.4s;
      -moz-animation-duration: 0.4s;
       -o-animation-duration: 0.4s;
    animation-timing-function: ease;
    text-shadow: 1px 1px #198A0E;
}

.char10 {
  transform: rotate(100deg);
  animation-name: erect;
  animation-delay: 3.6s;
     animation-duration: 0.4s;
     -webkit-animation-duration: 0.4s;
      -moz-animation-duration: 0.4s;
       -o-animation-duration: 0.4s;
    animation-timing-function: ease;
    text-shadow: 1px 1px #198A0E;
}

#lines{
	display: inline;
	z-index: 4;
	color: #198A0E;
}

#one{
	position: relative;
	left: -0.4%;
}

#star{
	position: absolute;
	top: 37.6%;
	left: 10.4%;
	z-index: 14;
	transform: scale(1.3);
}

#established{
	font-family: 'Lobster Two', cursive;
	position: absolute;
	left: 41.8%;
	top: 33%;
	font-weight: bolder;
	font-size: 24px;
}



@keyframes erect {
    0% {
        font-size: 144px;
        opacity: 0;
        animation-timing-function: ease-in;
    }
    50% {
        font-size: 224px;
        opacity: 1;
        animation-timing-function: ease-out;
    }
    100% {
        font-size: 144px;
        opacity: 1;
        animation-timing-function: ease-in-out;
    }