/*Color Scheme*/
/*Green=#BBC52F*/
/*Brown=#9E4A08*/
/*Black*/
/*White*/
/*White and Black*/


/*Responsive typography*/
html { font-size:100%; } 
@media (min-width: 640px) { body {font-size:1rem;} } 
@media (min-width:960px) { body {font-size:1.2rem;} } 
@media (min-width:1100px) { body {font-size:1.5rem;} }

/*Responsive Images*/
/*IE support restrict max image size to parent container*/
img { max-width: 100%; }
body {
	margin: 0 auto;
}

@font-face {
  font-family: 'Meaty';
  src:  url('Meatloaf.ttf')
}

h1 span {
  font: 66px Meaty;
  height: 420px;
  position: absolute;
  width: 78px;
  left: 24%;
  top: 640%;
  transform-origin: bottom center;
  color: #BBC52F;
  font-size: 144px;
}

.badge {
  position: relative;
  width: 500px;
  border-radius: 100%;
  transform: rotate(-50deg);
  background-color: transparent;
}

.char1 {
  transform: rotate(0deg);
  animation-name: erect;
    animation-duration: 0.8s;
     -webkit-animation-duration: 0.8s;
      -moz-animation-duration: 0.8s;
       -o-animation-duration: 0.8s;
    animation-timing-function: ease;
}

.char2 {
  transform: rotate(10deg);
  animation-name: erect;
  animation-delay: 0.8s;
     animation-duration: 0.8s;
     -webkit-animation-duration: 0.8s;
      -moz-animation-duration: 0.8s;
       -o-animation-duration: 0.8s;
    animation-timing-function: ease;
}

.char3 {
  transform: rotate(20deg);
  animation-name: erect;
  animation-delay: 1.6s;
     animation-duration: 0.8s;
     -webkit-animation-duration: 0.8s;
      -moz-animation-duration: 0.8s;
       -o-animation-duration: 0.8s;
    animation-timing-function: ease;
}

.char4 {
  transform: rotate(30deg);
  animation-name: erect;
  animation-delay: 2.4s;
    animation-duration: 0.8s;
     -webkit-animation-duration: 0.8s;
      -moz-animation-duration: 0.8s;
       -o-animation-duration: 0.8s;
    animation-timing-function: ease;
}

.char5 {
  transform: rotate(50deg);
  animation-name: erect;
  animation-delay: 3.2s;
    animation-duration: 0.8s;
     -webkit-animation-duration: 0.8s;
      -moz-animation-duration: 0.8s;
       -o-animation-duration: 0.8s;
    animation-timing-function: ease;
}

.char6 {
  transform: rotate(60deg);
  animation-name: erect;
  animation-delay: 4s;
     animation-duration: 0.8s;
     -webkit-animation-duration: 0.8s;
      -moz-animation-duration: 0.8s;
       -o-animation-duration: 0.8s;
    animation-timing-function: ease;
}

.char7 {
  transform: rotate(70deg);
  animation-name: erect;
  animation-delay: 4.8s;
     animation-duration: 0.8s;
     -webkit-animation-duration: 0.8s;
      -moz-animation-duration: 0.8s;
       -o-animation-duration: 0.8s;
    animation-timing-function: ease;
}

.char8 {
  transform: rotate(80deg);
  animation-name: erect;
  animation-delay: 5.6s;
     animation-duration: 0.8s;
     -webkit-animation-duration: 0.8s;
      -moz-animation-duration: 0.8s;
       -o-animation-duration: 0.8s;
    animation-timing-function: ease;
}

.char9 {
  transform: rotate(90deg);
  animation-name: erect;
  animation-delay: 6.4s;
     animation-duration: 0.8s;
     -webkit-animation-duration: 0.8s;
      -moz-animation-duration: 0.8s;
       -o-animation-duration: 0.8s;
    animation-timing-function: ease;
}

.char10 {
  transform: rotate(100deg);
  animation-name: erect;
  animation-delay: 7.2s;
     animation-duration: 0.8s;
     -webkit-animation-duration: 0.8s;
      -moz-animation-duration: 0.8s;
       -o-animation-duration: 0.8s;
    animation-timing-function: ease;
}

#lines{
	display: inline;
	z-index: 4;
	color: #198A0E;
}

#one{
	position: relative;
	left: -0.4%;
}

#star{
	position: absolute;
	top: 39.6%;
	left: 10.4%;
	z-index: 14;
	transform: scale(1.3);
}

#established{
	font-family: 'Lobster Two', cursive;
	position: absolute;
	left: 41.8%;
	top: 34%;
	font-weight: bolder;
	font-size: 24px;
}



@keyframes erect {
    0% {
        font-size: 144px;
        opacity: 0;
        animation-timing-function: ease-in;
    }
    50% {
        font-size: 224px;
        opacity: 1;
        animation-timing-function: ease-out;
    }
    100% {
        font-size: 144px;
        opacity: 1;
        animation-timing-function: ease-in-out;
    }