/*Color Scheme*/
/*Green=#BBC52F*/
/*Brown=#9E4A08*/
/*Black*/
/*White*/
/*White and Black*/


/*Responsive typography*/
html { font-size:100%; } 
@media (min-width: 640px) { body {font-size:1rem;} } 
@media (min-width:960px) { body {font-size:1.2rem;} } 
@media (min-width:1100px) { body {font-size:1.5rem;} }

/*Responsive Images*/
/*IE support restrict max image size to parent container*/
img { max-width: 100%; }
body {
	margin: 0 auto;
}

@font-face {
  font-family: 'Meaty';
  src:  url('Meatloaf.ttf')
}

h1 span {
  font: 66px Meaty;
  height: 400px;
  position: absolute;
  width: 30px;
  left: 24%;
  top: 640%;
  transform-origin: bottom center;
  color: #BBC52F;
}

.badge {
  position: relative;
  width: 500px;
  border-radius: 100%;
  transform: rotate(-50deg);
  background-color: transparent;
}

.char1 {
  transform: rotate(0deg);
}

.char2 {
  transform: rotate(10deg);
}

.char3 {
  transform: rotate(20deg);
}

.char4 {
  transform: rotate(30deg);
}

.char5 {
  transform: rotate(50deg);
}

.char6 {
  transform: rotate(60deg);
}

.char7 {
  transform: rotate(70deg);
}

.char8 {
  transform: rotate(80deg);
}

.char9 {
  transform: rotate(90deg);
}

.char10 {
  transform: rotate(100deg);
}
